/*colors*/
$dark-blue: #0d003a;
$light-blue: #3e96fc;
$white: #ffffff;
$grey: #566577;
$orange: #ff8e02;

$main-font-family: "Prompt";
$side-padding: 252px;
$title-color: $dark-blue;
$text-color: $grey;
$familiar-color: $orange;
$main-transition: all 0.3s ease-in-out;

/*header style*/
$header-item-color: $dark-blue;
$header-active-item-color: $light-blue;

/*button style*/
$button-main-color: $light-blue;
$button-text-color: $white;

/*footer style*/
$footer-text: #566577;
